
{{for entrevistas}}
<tr class="pnt-js-entrevista" data-entrevista-id="{{:id}}">
    <td class="pnt-js-entrevista-nombre" data-entrevista-id="{{:id}}">{{:nombre}}</td>
    <td class="pnt-js-entrevista-descripcion" data-entrevista-id="{{:id}}">{{:descripcion}}</td>

    <td class="pnt-js-entrevista-realizada">
        {{if realizada}}
        <input class="form-check-input pnt-js-entrevista-realizada-checkbox pnt-entrevista-realizada-checkbox" type="checkbox" data-entrevista-id="{{:id}}" checked />
        {{ else}}
        <input class="form-check-input pnt-js-entrevista-realizada-checkbox pnt-entrevista-realizada-checkbox" type="checkbox" data-entrevista-id="{{:id}}" />
        {{/if}}
    </td>
    <td class="pnt-js-entrevista-acciones">
        <a class="btn-sm teal darken-2 white-text waves-effect pnt-js-modificar-entrevista-boton" data-entrevista-id="{{:id}}" data-toggle="tooltip" title="Modificar" data-modificando=false><i class="fa fa-edit"></i></a>
    </td>
</tr>
{{/for}}
