/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
    height: 100%; }

/* Navbar animation */
.navbar {
    background-color: #1C2331; }

.page-footer,.top-nav-collapse{
    background-color:#1C2331
}
/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331; } }

.table-fixed {
    table-layout: fixed;
    overflow: hidden;
}

.pnt-container-principal {
    margin-top: 4em;
}

.pnt-hidden {
    display: none;
}

.pnt-intro-div {
    margin-top: 1em;
    min-height: 10em;
}

.md-form .pnt-placeholder {
    left: 1em;
}

.md-form .pnt-form-label {
    position: initial;
}

.md-form .pnt-form-check {
    padding-top: 15px;
}

.pnt-header-90 {
    width: 90px;
}

.pnt-no-margin {
    margin: 0px 0px 0px 0px !important ;
}

.pnt-no-padding {
    padding: 0px 0px 0px 0px !important;
}
.pnt-textbox-inline {
    top: -6px;
}

.pnt-section-nueva-entrevista {
    position: relative;
    z-index: 3;
}

.pnt-section-entrevistas {
    position: relative;
    z-index: 1;
}

.pnt-table-entrevistas {
    overflow: visible;
}

.bootstrap-datetimepicker-widget {
    color:#000 !important;
}

.pnt-text-input-material {
    padding-top: 5px !important;
    padding-left: 1px !important;
    padding-bottom: 4px !important;
    margin-botton: 8px !important;
    border-bottom: 1px solid #bdbdbd !important;
}

.pnt-checkbox-input-material {
    padding-top: 5px !important;
    padding-left: 1px !important;
    padding-bottom: 4px !important;
    margin-botton: 8px !important;
}

.pnt-button {
    width: 64px;
}

.fa-arrow-up:before {
    color: black;
}

.fa-arrow-down:before {
    color: black;
}
